<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <import resource="classpath:openelisAtomfeedServiceContext.xml"/>
    <context:property-placeholder location="classpath:atomfeed.properties"/>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${jdbc.driverClassName}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="maxPoolSize" value="${atomdb.c3p0.max_size}"/>
        <property name="minPoolSize" value="${atomdb.c3p0.min_size}"/>
        <property name="checkoutTimeout" value="${atomdb.c3p0.timeout}"/>
        <property name="maxStatements" value="${atomdb.c3p0.max_statements}"/>
        <property name="idleConnectionTestPeriod" value="${atomdb.c3p0.idle_test_period}"/>
        <property name="acquireIncrement" value="${atomdb.c3p0.acquire_increment}"/>
    </bean>



</beans>