
#nationalID,.nationalID,
#insuranceID,.insuranceID,
#requestingFacilityID,.requestingFacilityID,
#akaID,.akaID,
#providerWorkPhoneID,.providerWorkPhoneID,
.empty-row
{
    display:none;
#nationalID,.nationalID,
#insuranceID,.insuranceID,
#requestingFacilityID,.requestingFacilityID,
#akaID,.akaID,
#providerWorkPhoneID,.providerWorkPhoneID,
.empty-row
{
    display:none;
}

#PatientDetail .lastNameLabel,#PatientDetail .lastName
{
    left: 600px;
    position: relative;
}

@media (max-width:1490px){
    #PatientDetail .firstNameLabel,#PatientDetail .firstName
    {
        right: 41.3em;
        position: relative;
    }
}


@media (min-width:1491px) and (max-width:1650px){
    #PatientDetail .firstNameLabel,#PatientDetail .firstName
    {
        right: 45%;
        position: relative;
    }
}

@media (min-width:1651px) {
    #PatientDetail .firstNameLabel,#PatientDetail .firstName
    {
        right: 44%;
        position: relative;
    }
}


#firstNameID{
    width:488px;
}


#sampleEntryPage .searchFirstName{
    position:absolute;
    left:0.5em;

}

#sampleEntryPage .searchST,#sampleEntryPage .searchButton,#sampleEntryPage .searchLastName{
    position:relative;
    left:35%;
}


.searchFirstName{
    position:absolute;
    left:0.5em;

}

.searchST,.searchButton,.searchLastName{
    position:relative;
    left:20em;
}

#sampleEntryPage #searchResultTable tr th:nth-child(3),#sampleEntryPage #searchResultTable tr td:nth-child(3){
   position:relative;
   left: 15.9%;
	border-right : 1px solid white;
}

#sampleEntryPage #searchResultTable tr th:nth-child(4),#sampleEntryPage #searchResultTable tr td:nth-child(4){
    position:relative;
    left: -19.2%;

}

#searchResultTable tr th:nth-child(3),#searchResultTable tr td:nth-child(3){
    position:relative;
    left: 15.6%;
}

#searchResultTable tr th:nth-child(4),#searchResultTable tr td:nth-child(4){
    position:relative;
    left: -18.6%;
    border-right : 1px solid white;
	 border-left : 1px solid white
}


@media (min-width:840px) and (max-width:1020px){
   #searchResultTable tr th:nth-child(3),#searchResultTable tr td:nth-child(3){
		 position:relative;
		 left: 15.7%;
	}

	#searchResultTable tr th:nth-child(4),#searchResultTable tr td:nth-child(4){
		 position:relative;
		 left: -18.8%;
		 border-right : 1px solid white;
		 border-left : 1px solid white
	}

}


@media (min-width:1021px) {
   #searchResultTable tr th:nth-child(3),#searchResultTable tr td:nth-child(3){
		 position:relative;
		 left: 16.1%;
	  	 border-right : 1px solid white;
	}

	#searchResultTable tr th:nth-child(4),#searchResultTable tr td:nth-child(4){
		 position:relative;
		 left: -19.2%;

		 border-left : 1px solid white
	}

}



#searchResultTable tr th:last-child,#searchResultTable tr td:last-child{
    display:none;
}


#orderDisplay .firstName,#orderDisplay .firstNameLabel{
	position :relative;
	top: -2.1em;
}

#orderDisplay .lastName,#orderDisplay .lastNameLabel{
	position :relative;
	top: 2.1em;
}
#searchDiv{
	min-width:800px;
}

}

#PatientDetail .lastNameLabel,#PatientDetail .lastName
{
    left: 600px;
    position: relative;
}

@media (max-width:1490px){
    #PatientDetail .firstNameLabel,#PatientDetail .firstName
    {
        right: 41.3em;
        position: relative;
    }
}


@media (min-width:1491px) and (max-width:1650px){
    #PatientDetail .firstNameLabel,#PatientDetail .firstName
    {
        right: 45%;
        position: relative;
    }
}

@media (min-width:1651px) {
    #PatientDetail .firstNameLabel,#PatientDetail .firstName
    {
        right: 44%;
        position: relative;
    }
}


#firstNameID{
    width:488px;
}


#sampleEntryPage .searchFirstName{
    position:absolute;
    left:0.5em;

}

#sampleEntryPage .searchST,#sampleEntryPage .searchButton,#sampleEntryPage .searchLastName{
    position:relative;
    left:35%;
}


.searchFirstName{
    position:absolute;
    left:0.5em;

}

.searchST,.searchButton,.searchLastName{
    position:relative;
    left:20em;
}

#sampleEntryPage #searchResultTable tr th:nth-child(3),#sampleEntryPage #searchResultTable tr td:nth-child(3){
    position:relative;
    left: 15.9%;
    border-right : 1px solid white;
}

#sampleEntryPage #searchResultTable tr th:nth-child(4),#sampleEntryPage #searchResultTable tr td:nth-child(4){
    position:relative;
    left: -19.2%;

}

#searchResultTable tr th:nth-child(3),#searchResultTable tr td:nth-child(3){
    position:relative;
    left: 15.6%;
}

#searchResultTable tr th:nth-child(4),#searchResultTable tr td:nth-child(4){
    position:relative;
    left: -18.6%;
    border-right : 1px solid white;
    border-left : 1px solid white
}


@media (min-width:840px) and (max-width:1020px){
    #searchResultTable tr th:nth-child(3),#searchResultTable tr td:nth-child(3){
        position:relative;
        left: 15.7%;
    }

    #searchResultTable tr th:nth-child(4),#searchResultTable tr td:nth-child(4){
        position:relative;
        left: -18.8%;
        border-right : 1px solid white;
        border-left : 1px solid white
    }

}


@media (min-width:1021px) {
    #searchResultTable tr th:nth-child(3),#searchResultTable tr td:nth-child(3){
        position:relative;
        left: 16.1%;
        border-right : 1px solid white;
    }

    #searchResultTable tr th:nth-child(4),#searchResultTable tr td:nth-child(4){
        position:relative;
        left: -19.2%;

        border-left : 1px solid white
    }

}



#searchResultTable tr th:last-child,#searchResultTable tr td:last-child{
    display:none;
}


#orderDisplay .firstName,#orderDisplay .firstNameLabel{
    position :relative;
    top: -2.1em;
}

#orderDisplay .lastName,#orderDisplay .lastNameLabel{
    position :relative;
    top: 2.1em;
}
#searchDiv{
    min-width:800px;
}
