table td{
    padding:5px;
}
.slick-headerrow-column input {
    width: 95%;
}

#tabs {
    display: block;
    margin: 0px auto;
    margin-bottom: 40px;
    padding: 14px 18px 16px;
}
#todayListContainer-slick-grid,#backlogListContainer-slick-grid,#importStatusGrid{
    border:1px solid #cecece;
}
.details {
    border-top: 2px solid #F0A506;
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
    padding: 10px 10px;
    position:fixed;
    bottom:0px;
    background:rgba(0, 0, 0, 0.78);
    z-index:9999;
    overflow:hidden;
    display:block;
    width:97%;
    margin-right:-20px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.details .details-more-info{
	float:left;
	padding:5px 20px;
	font-weight: bold;
	color:#000000;
    font-family: Arial,sans-serif;
}
.details .details-key{
    color:#FFD870;
    font-size:16px;
}
.details .details-value{
    text-transform:capitalize;
    font-size:18px;
    color:#ffffff;
}
#todayListContainer,#backlogListContainer{
	padding: 25px;
}
#todayListContainer{
    width:1091px;
}
#backlogListContainer{
    width:991px;
}
.details.hide{
    display:none;
}
.ui-widget-content a{
    color:#14a4c8;
}
#inProgressListContainer a:hover, #completedListContainer a:hover{
    text-decoration: underline;
}
#todayStat,#upload{
    margin-bottom:20px;
}
#todayStat{
    margin: -25px 0 13px;
}
#todayStat table,#upload table{
    font-size: 15px;
}
#todayStat td,#upload td{
   padding:0px 10px;
}
.stats-header {
    font-weight: bold;
}
.arrow-text{
    float:left;
    padding-top:2px;
    font-weight: bold;
}
.arrow-right {
    float:right;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;  
    border-left: 10px solid green;
    margin-left:10px;
}

#importStatusGrid {
    margin-bottom: 60px;
}
#uploadDetails #errorMessage {
    text-transform:capitalize;
    color:#ffffff;
}



#tabs span.sample_title_dashboard{
  font-weight: bold;
  font-size: 15px;
  line-height: 1;
  display:inline-block;
  padding-bottom: 10px;
  padding-left: 7px;
}

#tabs span.samplesCollected.sample_title_dashboard {
  padding-left: 92px;
}

#tabs #todaySamplesToCollectListContainer, #tabs #backlogSamplesToCollectListContainer {
  padding: 0;
  margin: 0;
  border: 1px #cecece solid;
  width: 1360px;
  background: #fff !important;
  border-top: none;
}
#tabs #todaySamplesCollectedListContainer{
    width: 1360px;
}
#tabs #backlogSamplesCollectedListContainer{
    width: 1360px;
}
#tabs #todaySamplesCollectedListContainer, #tabs #backlogSamplesCollectedListContainer{
  padding: 0;
  margin: 0;
  border: 1px #cecece solid;
  background: #fff !important;
  border-top: none;
}
#tabs .ui-widget-header {
  background: none;
  border: none;
  padding: 0;
}

.backLog_first {
  margin-right: 70px !important;
}

#tabs .slick-sort-indicator{
    margin-right: 5px;
}

#tabs .slick-header-columns, #tabs .slick-header.ui-state-default, #tabs .slick-headerrow.ui-state-default{
    border-bottom: none;
}
#tabs #todaySamplesToCollectListContainer .slick-header-column.ui-state-default span.slick-column-name,
#tabs #backlogSamplesToCollectListContainer .slick-header-column.ui-state-default span.slick-column-name,
#tabs #backlogSamplesCollectedListContainer .slick-header-column.ui-state-default span.slick-column-name,
#tabs #todaySamplesCollectedListContainer .slick-header-column.ui-state-default span.slick-column-name
{
    padding-left: 15px;
    border-right:none; 
}

#tabs #todaySamplesToCollectListContainer .slick-header-column.ui-state-default.slick-header-sortable span.slick-column-name,
#tabs #backlogSamplesToCollectListContainer .slick-header-column.ui-state-default.slick-header-sortable span.slick-column-name,
#tabs #backlogSamplesCollectedListContainer .slick-header-column.ui-state-default.slick-header-sortable span.slick-column-name,
#tabs #todaySamplesCollectedListContainer .slick-header-column.ui-state-default.slick-header-sortable span.slick-column-name
{
     padding-left: 0px;
}

#tabs .slick-headerrow-column.ui-state-default {
  border-left: none;
  border-top: none;
}

#tabs .slick-cell{
    padding-left: 10px;
}

#tabs .ui-tabs .ui-tabs-nav li{
    z-index: 9999;
}

#actionIcon {
    height: 20px;
    width: 20px;
}

