.slick-headerrow-column input {
    width: 95%;
}

#tabs {
    display: block;
    margin:0px auto;
}

#patientDetails {
    border-top: 2px solid #F0A506;
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
    padding: 10px 10px;
    position:fixed;
    bottom:0px;
    background:#F2F0FD;
    z-index:9999;
    overflow:hidden;
    display:block;
    width:97.5%;
    opacity:0.9;
    margin-right:-20px;
}
#patientDetails .pd-more-info{
	float:left;
	padding:5px 20px;
	font-weight: bold;
	color:#000000;
    font-family: Arial,sans-serif;
}
#patientDetails .pd-key{
    color:#014712;
    font-size:16px;
}
#patientDetails .pd-value{
    text-transform:capitalize;
    font-size:18px;
}
#inProgressListContainer,#completedListContainer{
    width:1200px;
	padding-bottom: 50px;
}
#patientDetails.hide{
    display:none;
}
#inProgressListContainer a{
    color:#14a4c8;
}
#inProgressListContainer a:hover{
    text-decoration: underline;
}
#todayStat{
    margin-bottom:20px;
}
#todayStat table{
    font-size: 15px;
}
#todayStat td{
   padding:0px 20px; 
}
.arrow-text{
    float:left;
    padding-top:2px;
    font-weight: bold;
}
.arrow-right {
    float:right;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;  
    border-left: 10px solid green;
    margin-left:10px;
}
