.slick-headerrow-column input {
    width: 95%;
}

#tabs {
    display: block;
    margin:0px auto;
}

#patientDetails {
    border: 1px solid #cecece;
    padding: 10px 10px;
    position:fixed;
    bottom:0px;
    background:#cecece;
    z-index:9999;
    overflow:hidden;
    display:block;
    width:100%;
    opacity:0.9;
    margin-right:-20px;
}
#patientDetails .pd-more-info{
	float:left;
	padding:5px 20px;
	font-size: 18px;
	font-weight: bold;
	color:#000000;
    font-family: Arial,sans-serif;
}
#patientDetails .pd-key{
    color:#014712;
    font-size:16px;
}
#patientDetails .pd-value{
    text-transform:capitalize;
}
#inProgressListContainer,#completedListContainer{
    width:1280px;
	padding-bottom: 50px;
}
#patientDetails.hide{
    display:none;
}
#refreshButton{
    position: absolute;
    left:20px;
    top:102px;
    z-index:999;
}
