apiVersion: v1
kind: Secret
metadata:
  name: {{ .Chart.Name }}-secrets
type: Opaque
data:
  OPENMRS_ATOMFEED_USER: {{ .Values.secrets.OPENMRS_ATOMFEED_USER }}
  OPENMRS_ATOMFEED_PASSWORD: {{ .Values.secrets.OPENMRS_ATOMFEED_PASSWORD }}
  