name: Build and Publish OpenELIS
on:
  push:
    branches:
      - master
      - 'release-*'
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

    paths-ignore:
      - '**.md'

jobs:
  docker-build-publish:
    name: Build & Publish OpenELIS Docker Image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Java 7 for ant
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '7'
      - name: Setup Ruby 2.3
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.3
      - name: Install Compass
        run: gem install compass
      - name: Install Ant 1.9
        run: |
          mkdir /tmp/ant
          cd /tmp/ant
          wget https://dlcdn.apache.org//ant/binaries/apache-ant-1.9.16-bin.tar.gz
          tar -zxf apache-ant-1.9.16-bin.tar.gz
          echo "ANT_HOME=/tmp/ant/apache-ant-1.9.16" >> $GITHUB_ENV
          echo "/tmp/ant/apache-ant-1.9.16/bin" >> $GITHUB_PATH
      - name: Set env.ARTIFACT_VERSION
        run: |
          wget -q https://raw.githubusercontent.com/Bahmni/bahmni-infra-utils/main/setArtifactVersion.sh && chmod +x setArtifactVersion.sh
          ./setArtifactVersion.sh
          rm setArtifactVersion.sh
      - name: Package
        run: ant dist
      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - name: Docker Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: package/docker/openelis/Dockerfile
          push: true
          tags: bahmni/openelis:${{env.ARTIFACT_VERSION}},bahmni/openelis:latest
